<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/lang/de_DE.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/geodata/germanyLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/fonts/notosans-sc.js"></script>
</head>

<body>
    <div class="col-md-12">

        <h1>Domov</h1>
        <h4>Aukcie</h4>
        <ul>
            <li><a href="/auctions/new">poslednych 15 aukcii</a></li>
            <li><a href="/auctions/q/Papírové hrany">aukcie podla nazvu</a></li>
            <li><a href="/auctions/27-9-269">aukcie podla id </a></li>
        </ul>
        <h4>Statistiky</h4>
        <ul>
            <li><a href="/stats">statistiky</a></li>
        </ul>
        <h4>Kategorie</h4>
        <ul>
            <li><a href="/categories">Kategorie</a></li>

        </ul>
        <h4>Organizacie</h4>
        <ul>
            <li><a href="/organizations">Organizacie</a></li>

        </ul>
        <h4>Ucastnici</h4>
        <ul>
            <li><a href="/participants">Ucastnici</a></li>

        </ul>
    </div>


</body>